* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
.App{
    background-color: #f1efef;
}
.content_services{
    background-color: #e9e6e6;
}
.title h2:after {
    content:'';
    display: block;
    margin: 35px auto 0;
    width:46px;
    height: 2px;
    border-left:20px darkslategrey solid;
    border-right: 20px darkslategrey solid;
}
@media(max-width: 578px) {
    .logo_title {
        display: none;
    }
    .text-title{
        padding-top: 4%;
    }
}

@media(max-width: 768px) {
    .container_about{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .text h2:after {
        margin-top: 4%;
    }
    .about_img{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        justify-content: space-between;
    }
    .img-fluid{
        margin: auto;

    }
}
.container_line{
    height: 2px;
    background-color:darkslategrey ;
}

/*@media(max-width: 1366px) {*/
    /*.main-container {*/
        /*padding-top: 3.8%;*/
    /*}*/
/*}*/
/*@media(max-width: 992px) {*/
    /*.main-container {*/
        /*padding-top: 5%;*/
    /*}*/
/*}*/

/*@media(max-width: 480px) {*/
    /*.main-container {*/
        /*padding-top: 15%;*/
    /*}*/
/*}*/