* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
.App{
    background-color: #f1efef;
}
.content_services{
    background-color: #e9e6e6;
}
.title h2:after {
    content:'';
    display: block;
    margin: 35px auto 0;
    width:46px;
    height: 2px;
    border-left:20px darkslategrey solid;
    border-right: 20px darkslategrey solid;
}
@media(max-width: 320px) {
}
@media(max-width: 578px) {
    .logo_title {
        display: none;
    }
    .text-title{
        padding-top: 4%;
    }
    .slogan{
        opacity: 0;
    }
    .main_slogan{
        opacity: 0;
    }
}

@media(max-width: 768px) {
    .container_about{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .text h2:after {
        margin-top: 4%;
    }
    .about_img{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        justify-content: space-between;
    }
    .img-fluid{
        margin: auto;
    }
}
.container_line{
    height: 2px;
    background-color:darkslategrey ;
}

.container_contacts{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: #cacaca;
}
.contact-me{
    text-align: center;
}
.main_container_contact{
    width: 35%;
}
.two_cards_portfolio{
    height: 100%;
    object-fit: cover;
}
.lower_cards_portfolio{
    object-fit: cover;

}
.photo_about{
    width: 35%;
}
.contact_number{
    font-size: 20px;
}
.indent{
    text-indent:25px;
    text-align: justify;
}
.contact_number{
    font-size: 17px;
}
.Card{
    width: 100%;
    height: 100%;
}
.main_slogan{
    font-weight: bold;
}